{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
        <div class="row">
          <div class="col-md-3">
            {% for user4 in users %}
            <a href="#" class="thumbnail">
              <img src="/slobbbyrobbby/get-image/{{user4.userprofile.id}}/{{user4.id}}" height="200" width="300" alt="Generic placeholder thumbnail">
            </a>
            {% endfor %}
            <div class="caption">
            </div>
            <div class="input-group">
              <div class="col-md-12">
                <form action="/slobbbyrobbby/uploadImage" method="post" enctype="multipart/form-data">
                {% for field1 in changePictureForm.visible_fields %}
                  {{field1}}
                {% endfor %}
                {% csrf_token %}
                <button type="submit" class="btn btn-default">Change Picture</button>
                </form>
              </div>
            </div>
          </div>  
          <div class="col-md-7">
            {% for user in users %}
              <h1> {{ user.username }}</h1>
            {% endfor %}
            <h2> Edit Profile</h2>
            <div class="row">
              <div class="col-md-1"></div>
              <form action="/slobbbyrobbby/changePassword" method="post">
                <div class="col-md-11">
                  {% for field in changePasswordForm.visible_fields %}
                    <div class="row">
                      <div class="col-md-6">
                        {{field}}
                      </div>
                      <div class="col-md-6" style="color: red">
                        {{field.errors}}
                      </div>
                    </div>
                  {% endfor %}
                  <div class="row">
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-default">Change Password</button>
                    </div>
                    <div class="col-md-3">
                      <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                  </div>
                </div>
                {% csrf_token %}
              </form>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <form action="/slobbbyrobbby/changeEmail" method="post">
                <div class="col-md-11">
                  {% for field1 in changeEmailForm.visible_fields %}
                    <div class="row">
                      <div class="col-md-6">
                        {{field1}}
                      </div>
                      <div class="col-md-6" style="color: red">
                        {{field1.errors}}
                      </div>
                    </div>
                  {% endfor %}
                  <div class="row">
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-default">Change Email</button>
                    </div>
                    <div class="col-md-3">
                      <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                  </div>
                </div>
                {% csrf_token %}
              </form>
            </div>
            {% for error in errors %}
            <p style="color: red">
              {{ error }}
            </p>
            {% endfor %}
            {% for error1 in changePasswordForm.non_field_errors %}
            <p style="color: red">
              {{ error1 }}
            </p>
            {% endfor %}
            {% for error2 in changeEmailForm.non_field_errors %}
            <p style="color: blue">
              {{ error2 }}
            </p>
            {% endfor %}

          </div>
          <div class="col-md-2">
            
          </div>
        </div>
      </div>

{% endblock %}