{% extends "resetpass.html" %}

{% block content %}
<body>
<p>
<form action="/slobbbyrobbby/resetPassword" method="post">
	{% for field in resetform.visible_fields %}
      <div class="row">
        <div class="col-md-6">
          {{field}}
        </div>
        <div class="col-md-6" style="color: red">
          {{field.errors}}
        </div>
      </div>
  {% endfor %}
	<button type="submit" class="btn btn-default">Reset Password</button>
    {% csrf_token %}
</form>
{% for error in errors %}
<p style="color: red">
  {{ error }}
</p>
{% endfor %}
</p>
</body>

{% endblock %}